* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    color: rgb(241, 155, 75);
}

h1 {
    text-align: center;
}

.sect {
    background-color: black;
    width: 100%;
    height: 65vh;
    padding: 20px 0;
}

.sect:nth-child(2) {
    overflow: hidden;
}

.headerdiv {
    background-color: linear-gradient(rgb(197, 223, 247), rgb(187, 219, 233));
    height: 100px;
    width: 100%;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.logo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

.navdiv {
    height: 80px;
    width: 100%;
    background-color: black;
    justify-content: center;
    text-align: center;
}

li:hover {
    border-bottom: 2px solid rgb(241, 155, 75);
    border-top: 2px solid rgb(241, 155, 75);
}

.parallax:nth-child(1) {
    background-image: url(../assets/img/design/pic1.jpg);
    background-size: contain;
}

.parallax:nth-child(2) {
    height: 70vh;
}

.videobg {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}