* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    color: rgb(241, 155, 75);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
}

li:hover {
    border-bottom: 2px solid rgb(241, 155, 75);
    border-top: 2px solid rgb(241, 155, 75);
}

h1 {
    text-align: center;
    color: white;
}

.sect {
    background-color: black;
    width: 100%;
    height: 65vh;
    padding: 20px 0;
    overflow: hidden;
}

.sect:nth-child(2) {
    overflow: hidden;
    color: white;
}

.sect:nth-child(3) {
    padding: 0;
}

.sect:nth-child(4) {
    height: auto;
    text-align: center;
}

.headerdiv {
    background: linear-gradient(rgb(197, 223, 247), rgb(187, 219, 233));
    height: 120px;
    width: 100%;
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.logo {
    padding: 5px;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navdiv {
    /* height: 20px; */
    width: 100%;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.parallax:nth-child(1) {
    background-image: url(../assets/img/design/pic1.jpg);
    height: 80vh;
}

.parallax:nth-child(2) {
    height: 70vh;
}

.parallax:nth-child(3) {
    background-image: url(../assets/img/design/pic3.jpg)
}

#hotelbg {
    background-image: url(../assets/img/design/pic3.jpg);
    height: 100vh;
}

.gallery .container {
    width: 50%;
    overflow: hidden;
}

.photogallery {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 100%;
    padding: 10px
}

.photoview {
    position: absolute;
    right: 0;
    height: 70%;
    width: 25%;
    margin: 3.3%;
    background-color: white;
    padding: 10px 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.album {
    margin: 3.3%;
    box-sizing: border-box;
    border: 6px white solid;
    width: 196px;
    height: 196px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    float: left;
    cursor: pointer;
}

.album:hover {
    opacity: 0.7;
}

.album:nth-child(1) {
    background-image: url("../assets/img/out/ph9.jpeg");
}

.album:nth-child(2) {
    background-image: url("../assets/img/out/ph4.jpeg");
}

.album:nth-child(3) {
    background-image: url("../assets/img/out/ph16.jpg");
}

.album:nth-child(4) {
    background-image: url("../assets/img/out/ph8.jpeg");
}

.album:nth-child(5) {
    background-image: url("../assets/img/out/ph10.jpg");
}

.album:nth-child(6) {
    background-image: url("../assets/img/out/ph12.jpg");
}

.album:nth-child(7) {
    background-image: url("../assets/img/out/ph13.jpg");
}

.album:nth-child(8) {
    background-image: url("../assets/img/out/ph14.jpg");
}

.album:nth-child(9) {
    background-image: url("../assets/img/out/ph15.jpg");
}

#videobg {
    position: relative;
    /* overflow: hidden; */
    /* z-index: -1; */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 15% 30%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .gallery .container {
        width: 90%;
    }
}