* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
}

span {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

.photogrid {
    display: none;
}

.logo {
  background: #a7dcf6;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.logo .container-logo {
  width: 70%;
  margin: 0 auto;
}

.imglogo {
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

nav {
  margin: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  border-bottom: black 2px solid;
  /* box-shadow: 5px rgba(100, 100, 100); */
}

.topnav {
  background-color: #fff;
  font-size: 14px;
  margin-top: 40px;
}

.topnav span {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
  height: 100%;
}

.topnav span:hover {
  /* border-bottom: 18px solid #f6c1a7; */
  /* border-top: 26px solid #f6c1a7; */
  background-color: #f6c1a7;
  color: white;
}

.topnav .menuicon {
  display: none;
  background-color: rgba(0, 0, 0, 0) !important;
  /* float: right; */
}

.topnav .menuicon:hover {
  border-bottom: none;
  border-right: none;
}

body .container {
  width: 50%;
  margin: 0 auto;
}

.mainbackground {
    height: auto;
    width: auto;
    background-image: url('../assets/img/out/bg2.png');
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    /* position: fixed; */
}

.photogrid {
    position: absolute;
    right: 5%;
    padding-top: 50px;
}

.description {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    right: 0;
    padding: 20px;
}

.description>p {
    font-size: 20px;
}

.rooms {
    display: none;
    /* padding-top: 20px; */
    /* padding-right: 20px; */
    position: relative;
    right: 0;
    z-index: -1;
}

.apartments{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: -1;
    background-color: #eee;
    float: left;
    text-align: end;
}

.apartments:nth-child(2n) {
    background-color: wheat;
}

.container .displace {
padding-right: 50px;
}

.photoElement {
    box-sizing: border-box;
    width: 194px;
    height: 194px;
    background-size: cover;
    margin: 2%;
    border-radius: 5%;
}

.grid {
    float: left;
}

.aps {
    float: right;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
    position: relative;
}

.popupbg {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: sticky;
}

.popup {
  display: none;
  position: sticky;
  background-color: black;
  background-image: url();
  background-size: contain;
  width: 740px;
  height: 1040px;
  margin: 0 auto;
  top: 300px;
}

.visible {
  display: block;
}

#ph1 {
    background-image: url('../assets/img/out/ph4.jpeg');
}
#ph2 {
    background-image: url('../assets/img/out/ph1.jpeg');
}
#ph3 {
    background-image: url('../assets/img/out/ph2.jpeg');
}
#ph4 {
    background-image: url('../assets/img/out/ph9.jpeg');
}
#ph5 {
    background-image: url('../assets/img/out/ph6.jpeg');
}
#ph6 {
    background-image: url('../assets/img/out/ph8.jpeg');
}
#ap1a{
    background-image: url('../assets/img/ap/room1/1.jpeg');
}
#ap1b{
    background-image: url('../assets/img/ap/room1/2.jpeg');
}
#ap2a{
    background-image: url('../assets/img/ap/room2/1.jpeg');
}
#ap3a{
    background-image: url('../assets/img/ap/room3/1.jpeg');
}
#kitchen{
    background-image: url('../assets/img/ap/room4/1.jpeg');
}

footer {
  /* background: #000; */
}

.footerdiv {
    height: 70px;
    color: #999;
    text-shadow: 5px #666;
    padding: 10px;
    text-align: center;
}

.footer-li {
    display: block;

}

.footer-copyright {
    justify-content: center;
}

/* Это нужно для определенных экранов меньше 768px */
@media screen and (max-width: 768px) {
  /* Это нужно для значения первого элемента, чтобы была видна кнопка ГЛАВНАЯ и рядом с ней иконка меню */
  .topnav span:not(:first-child) {
    display: none;
  }
  .topnav span.menuicon {
    float: right;
    margin-top: -17px;
    display: block;
    color: black;
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
  }
  /* Чтобы иконка отображалась справа, это для маленьких экранов */
  .topnav.responsive span.menuicon {
    position: absolute;
    right: 0;
    top: 0;
  }

  main {
    padding-top: 100px;
  }

  .topnav.responsive span:hover {
    border-right: 4px solid #000;
    border-bottom: none;
    border-top: none;
    background-color: none;
  }

  .topnav.responsive span.menuicon:hover {
      border: none;
  }

  /* переместить текст влево */
  .topnav.responsive span {
    float: none;
    display: block;
    text-align: left;
  }
  .mainbackground {
      background-image: none;
  }
  .photogrid {
      right: 0;
      /* text-align: center; */
      margin: 0 auto;
      position: relative;
  }
  .photoElement {
      height: 400px;
      width: 400px;
  }
  .rooms {
    padding-top: 200px;
  }
  body .container {
    margin: 0;
    width: 100%;
  }
  span {
    /* background-color: #fff; */
  }
}
